<div class="wrapper">
  <div class="header">
    <div class="top">
      <div class="container">
        <nav class="navbar navbar-default"> 
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="https://experience.practicalvr.com"><img src="../../assets/images/pvr_logo.png"/></a> </div>
          
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="https://experience.practicalvr.com"><div>Experience</div></a></li>
			  <li><a href="https://prax.practicalvr.com"><div>PRAX</div></a></li>
			  <li><a href="https://analytics.practicalvr.com"><div>Analytics</div></a>	</li>
              <li class="active"><a href="#">Enter Code</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" class="prizesBtn" data-toggle="modal" data-target="#myModal">Prizes & Rules</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse --> 
        </nav>
      </div>
      <!-- /.container-fluid --> 
    </div>
    <div class="bottom"><h2><!--Enter Code--></h2> </div>
  </div>
  <div class="timeBlock">
    <div class="countdown">
      <div class="clock">
        <p id="clock"></p>
      </div>
    </div>
  </div>
  <div class="content-area">
  <div class="sign-up-block">
  <div class="container">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
  <div class="fieldbox">
  <label>Enter Code</label>
  <input type="text" /> 
  </div>
   <button type="button" class="enter-btn">SUBMIT</button>
  </div>
  </div>
  </div>

  </div>
  <div class="clear"></div>
  <!-- Footer
		============================================= -->
  <footer id="footer" class=""> 
    
    <!-- Copyrights
			============================================= -->
    <div id="copyrights"> &copy; 2018 PracticalVR, Inc.<br>
    </div>
    <!-- #copyrights end --> 
    
  </footer>
  <!-- #footer end --> 
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="announcement-block">
    <div class="modal-dialog"> 
      <div class="modal-content">
        <div class="modal-body">
        
        <div class="announcement-content">
          
          <h2><button type="button" class="close" data-dismiss="modal"><img src="../../assets/images/close-button.png"/></button></h2>
          <div class="clear"></div>
          <div class="scrollDiv" id="scrollDiv">
          <div class="scrolldiv-content">
          <br>
          <h3>Announcement</h3>
          <p>We have been hard at work getting our Practical Mapping experience ready to show the world, and the time is now upon us. We want you all to experience the way spatial mapping should be, and see how much of the physical world you guys can capture.</p>
          <p>In order to start creating the AR Cloud, we need a good baseline digital spatial map of the world. And we want to reward you for helping us collect that data. Introducing the first Practical Mapping Contest. Here is how it will work.</p>
          <p>You will need to have a Microsoft HoloLens to map with. You will download an Appx bundle from us and side load the mapping application to your HoloLens. Once it's installed, we want you to map as many places as you are allowed to.</p>
          <p>Your time is valuable, and we want to reward you for participating, so we have come up with a reward system so we can show you some love and appreciation for your contributions. All of these reward tiers are based on the number of unique locations you have mapped and submitted.</p>
          <ul>
            <li>1 unique location will get you a mapping consult. A member of our team will talk to you about how you can add Practical Mapping to your application.</li>
            <li>5 unique locations will get you a sticker. Put it on your laptop and let the world know that you are helping build the digital future.</li>
            <li>10 unique locations will get you a Practical coffee mug. Let’s face it, the world runs on coffee and tea. No amount of digitization is going to change that, but at least you can drink yours from an awesome mug!</li>
            <li>20 unique locations will earn you a Practical t-shirt so you can proudly display to the world that you are helping build the digital future.</li>
            <li>30 unique locations will earn you a Practical backpack. Someone who maps like you do is certainly going places, and we want you to carry your stuff in style!</li>
          </ul>
          <p>Submitting 30 or more unique maps also puts you in the running for our major prizes. The three major prizes will be rewarded based on the number of unique maps accepted by us. </p>
          <h3>The Prizes</h3>
          <h4>First prize:</h4>
          <ul>
            <li>Trip to 2018 Microsoft //Build developer conference</li>
            <li>Up to $250 towards your fight to Seattle</li>
            <li>Mixed Reality Developer ticket to Build</li>
            <li>Lodging at a 4-star hotel</li>
            <li>5000 PRAX tokens rewarded upon token launch</li>
            <li>Holographic asset bundle with 10 assets</li>
            <li>Practical swag bag</li>
            <li>Entrance ticket to Mixed Reality Developer Summit</li>
          </ul>
          <h4>Second prize:</h4>
          <ul>
            <li>2,500 PRAX tokens rewarded upon token launch</li>
            <li>Holographic asset bundle with 5 assets</li>
            <li>Practical swag bag</li>
            <li>Entrance ticket to Mixed Reality Developer Summit</li>
          </ul>
          <h4>Third prize:</h4>
          <ul>
            <li>1,000 PRAX tokens rewarded upon token launch</li>
            <li>1 Holographic asset</li>
            <li>Practical swag bag</li>
            <li>Entrance ticket to Mixed Reality Developer Summit</li>
          </ul>
          <h3>The Rules</h3>
          <h4>We don’t like having them any more than you like following them, but we feel obligated to point out the following rules anyway.</h4>
          <ul>
            <li>Employees and partners of Practical are not eligible to win. You don’t have to worry about us competing against you.</li>
            <li>Unique locations are like they sound. Yes, we understand that if you move a chair in your room, by definition it’s unique again. That’s not in the spirit of the contest. You know it, we know it. Don’t be that person.</li>
            <li>There is no substitution, transfer, or cash equivalent for prizes, except that Practical may, at its sole discretion, substitute prizes of comparable value or cash. The prizes are expressly limited to the item(s) listed above and do not include taxes, gratuities or any other expenses. Other restrictions may apply.</li>
            <li>Decisions of Practical management with respect to the contest are final.</li>
            <li>The odds of winning or being one of the winners of the Practical Mapping Contest depend on the number of entries received.</li>
            <li>Practical reserves the right to make changes in the rules of the contest, including the substitution of a prize or equivalent value, which will become effective upon announcement.</li>
            <li>Failure to comply with the contest rules may result in an entrant’s disqualification solely at the discretion of Practical management.</li>
            <li>Except where prohibited by law, by entering the contest and or signing the affidavit and release, the entrants grant permission to the use of their name, likeness, or picture for advertising, and promotional purposes, for this and other promotions by Practical without additional compensation.</li>
          </ul>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
