@charset "utf-8";
/* CSS Document */


@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Helvetica.woff') format('woff'), 
	   url('../fonts/Helvetica.ttf')  format('truetype'), 
	   url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica-Light';
  src: url('../fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/Helvetica-Light.woff') format('woff'), 
	   url('../fonts/Helvetica-Light.ttf')  format('truetype'), 
	   url('../fonts/Helvetica-Light.svg#Helvetica-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}



