@charset "utf-8";
/* CSS Document */

@media (max-width: 1050px) {
.bottom .code-section .enter-code label {font-size: 35px; letter-spacing:0;margin-top:10px;}
.bottom .code-section .enter-code input[type="text"] {font-size: 28px;height: 50px;letter-spacing: 0;padding-left: 3px;width: 145%;}
}

@media (min-width: 480px) and (max-width: 767px) {
.leaderboardContainer-grey .number{text-align:center;}
.leaderboardContainer-white .number{text-align:center;}
.leaderboard .maps{text-align:center;}
.timeBlock .clock p{font-size:50px;}
.leaderboardContainer-grey{padding:10px;}
.leaderboardContainer-white{padding:10px;}
.leaderboard .maps{font-size:25px;}
.leaderboard .maps small{font-size:15px;}
.leaderboard .number{font-size:25px;}
.timeBlock .clock .day-number{font-size:30px; line-height:30px;}
.timeBlock .clock .title{font-size:13px;}
.timeBlock .clock .separator{font-size:40px; line-height:35px;}
.timeBlock .clock p{line-height:50px;}
.slimScrollDiv{height:350px !important;}
.bottom h2{font-size:30px;}
.sign-up-block {margin: 60px 0 20px 0;}
.sign-up-block input{margin-bottom:60px;}
}

@media (max-width: 479px) {
.leaderboardContainer-grey .number{text-align:center;}
.leaderboardContainer-white .number{text-align:center;}
.leaderboard .maps{text-align:center;}
.timeBlock .clock p{font-size:40px;}
.timeBlock .clock p{line-height:50px;}
.leaderboardContainer-grey{padding:10px;}
.leaderboardContainer-white{padding:10px;}
.leaderboard .maps{font-size:25px;}
.leaderboard .maps small{font-size:15px;}
.leaderboard .number{font-size:25px;}
.timeBlock .clock .day-number{font-size:30px; line-height:30px;}
.timeBlock .clock .title{font-size:13px;}
.timeBlock .clock .separator{font-size:40px; line-height:35px;}
.slimScrollDiv{height:350px !important;}
.bottom h2{font-size:30px;}
.sign-up-block {margin: 60px 0 20px 0;}
.sign-up-block input{margin-bottom:60px;}
}

@media (min-width: 1px) and (max-width: 767px) {
	.navbar-collapse{background:#eee; margin-top:15px; padding:0;z-index:9999;position:relative;}
	.header .navbar-default .navbar-nav{margin-left:0px;}
	.header .navbar-nav{margin:0;}
	.header .navbar-default .navbar-nav > li.active > a , 	.header .navbar-default .navbar-nav > li:hover > a{background:none; color:#000;}
	.header .navbar-default .navbar-nav > li > a.prizesBtn{width:auto; float:left; margin:10px; font-size:16px; color:#fff; background:#2771fc; }
	.header .navbar-default .navbar-nav > li > a.prizesBtn:hover{color:#fff; }	 
	.header{height:250px;}
	.header .bottom{height:150px;}
	.header .bottom h2{height:60px;}
	.bottom .code-section{height:90px;}
	.bottom .code-btn{position:relative; /*margin-bottom:-30px; bottom:-25px;*/ margin-right:0;top:26px;}
	.bottom .code-section .enter-code{bottom:-25px;height:140px;}
	.bottom .code-section .enter-code label {font-size: 12px; letter-spacing:0;margin-top:0px;}
	.bottom .code-section .enter-code input[type="text"] {
    font-size: 10px;
    height: 30px;
    letter-spacing: 0;
    padding-left: 3px;
    width: 145%;
}
    .col-md-offset-2a {margin-left: 7%;top:20px;}
    
    .bottom .code-section .enter-code .enter-btn {
    background: #2771fc none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    float: left;
    font-size: 14px;
    height: 30px;
    padding: 6px 13px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
	.leaderboardContainer-grey{padding:10px;}
.leaderboardContainer-white{padding:10px;}
.leaderboard .maps{font-size:25px;}
.leaderboard .maps small{font-size:15px;}
.leaderboard .number{font-size:25px;}
.timeBlock .clock .day-number{font-size:30px; line-height:30px;}
.timeBlock .clock .title{font-size:13px;}
.timeBlock .clock .separator{font-size:40px; line-height:35px;}
.timeBlock .clock p{/*line-height:30px;*/ font-size:30px;}
.timeBlock{padding:12px 10px; height:80px;}
.slimScrollDiv{height:350px !important;}
.bottom h2{font-size:30px;}
.sign-up-block {margin: 60px 0 20px 0;}
.sign-up-block input{margin-bottom:60px;}
.sign-up-wrapper{width:100%; float:left; border:0px solid #2771fc; box-shadow:none; padding:0; position:relative; margin:0;}
.sign-up-wrapper .sign-up-vertical-box{ position:relative; width:100%; border:2px solid #2771fc; box-shadow:0 0 4px #2771fc; top:15px; left:0; margin-bottom:50px; height:auto; text-align:center;  }
.sign-up-wrapper .sign-up-vertical-box .blueLogo{width:100%; float:left; text-align:center; margin-top:20px; margin-bottom:20px;}
.user_gif {width:100%;}
.user-block h3{font-size:25px;}
.user-block .btn { margin-bottom: 10px;}
}



