

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
@charset "utf-8";
/* CSS Document */
.f10{font-size:10px !important; }
.nopadding{padding:0;}
.nopadding-left{padding-left:0;}
.nopadding-right{padding-right:0;}
.wrapper{width:100%; float:left; font-family: 'Helvetica';}
.container{width:100%; /*max-width:1240px;*/ padding:0 15px; margin:0 auto; }
.header{width:100%; float:left; height:284px; }
.header .top{width:100%; float:left; background:#000; background-size:cover; height:100px; }
.header .bottom{width:100%; float:left; background:url(assets/images/HH_v3.png) no-repeat top center; background-size:cover; height:184px; }
.header .navbar-default{background:none; border:0; margin-top:15px;}
.header .navbar-brand{padding:0; }
.header .navbar-default .navbar-brand > img{width:50px;}
.header .navbar-default .navbar-nav{margin-left:15px;}
.header .navbar-default .navbar-nav > li.active > a{background:none; color:#fff;}

.header .navbar-default .navbar-nav > li > a.prizesBtn{border:3px solid #2771fc; padding:7px 30px; color:#fff; font-size:12px;}
.header .navbar-default .navbar-nav > li > a.prizesBtn:hover{background:#2771fc;}

.header .navbar-default .navbar-nav > li > a{color:#9b9b9b; font-family: 'Helvetica'; letter-spacing:1px; font-size:18px; font-weight:bold;}

.timeBlock{width:100%; float:left; background:url(assets/images/spatial_triangles.jpg)repeat-x top center; padding:20px; height:130px;}
.timeBlock .clock {text-align:center; width:100%; float:left;}
.timeBlock .clock p{display:inline-block;color:#fff; font-size:70px; text-align:center; margin-bottom:0; /*line-height:70px;*/}
.timeBlock .clock .day-number{font-size:60px; width:100%; float:left; margin-right:20px;}
.timeBlock .clock .title{font-size:14px; width:100%; float:left;line-height:20px;}
.timeBlock .clock .separator{font-size:70px;}

.content-area{width:100%; float:left;}

.bottom{width:100%; float:left;}
.bottom h2{width:100%;color:#fff; text-align:center; font-size:50px; text-transform:uppercase; height:120px; margin:0;}
.bottom .code-section{width:100%; float:left; position:relative; height:64px;}
.bottom .code-section .enter-code{width:100%; float:left;height: 110px; background: rgba(0, 0, 0, 0.8); position: absolute; z-index: 11; padding: 30px 10px; text-align: center; bottom:1px; left:0; }
.enter-code-field{width:100%;}

.bottom .code-section .enter-code label {margin-top:10px;font-size: 45px; color: #fff;letter-spacing: 2px; text-align: left; font-family: 'Helvetica-Light'; z-index:10; float:right; line-height:30px;}
.bottom .code-btn{z-index:999;padding:5px 25px; color:#fff; font-size:14px; background:#2771fc; text-transform:uppercase; border:0; float:right; margin-right:7px; margin-top:34px;}
.code-btn.move-default {top:0px;position:relative;}
.col-md-offset-2a {margin-left: 19%;}

.bottom .code-section .enter-code input[type="text"] {padding-left:20px;letter-spacing:5px;border: 2px solid #2771fc; line-height: 30px; color: #fff; font-size: 38px; text-transform:uppercase;background:none; width:100%; height:50px;}
.bottom .code-section .enter-code .enter-btn{padding:5px 40px; color:#fff; font-size:15px; background:#2771fc; text-transform:uppercase; border:0; text-align:center; float:left; height:50px;}
.leaderboardContainer-grey{padding:30px; font-family:Arial; background:#dbe0e2; border-bottom:5px solid #e4e8eb; width:100%; float:left;}
.leaderboardContainer-white{padding:30px; font-family:Arial; background:#fff; border-bottom:5px solid #e4e8eb; width:100%; float:left;}
.leaderboard{width:100%; min-height:50px; float:left; margin:0 auto;}
.leaderboard .number{float:left; height:50px; width:100%; line-height:50px; text-align:right; font-size:48px; font-weight:bold;}
.leaderboardContainer-grey .number{color:#2771fc;}
.leaderboardContainer-white .number{color:#111;}
.leaderboard .percentbar{float:left; height:50px; width:100%;}
.leaderboard .percentbar .base{height:34px; width:100%; margin-top:8px; position:relative;}
.leaderboardContainer-white .base{background:#e8e8e8;}
.leaderboardContainer-grey .base{background:#fff;}
.leaderboard .percentbar .base .fill{height:34px; background:#7ed321; position:absolute;}
.leaderboard .percentbar .base .tag{height:34px; line-height:34px; font-size:20px; position:absolute; left:20px;}
.leaderboard .maps{float:left; color:#2c2c2c; height:50px; width:100%; line-height:50px; font-size:40px;}
.leaderboard .maps small{font-size:20px;}

.announcement-block{width:100%; background-color: rgba(0,0,0,0.7); position:fixed; z-index:2; height:100%; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.announcement-block .modal-dialog{width:100%; max-width:1000px;}
.announcement-block .modal-content{background:none; border:0; box-shadow:none; width:100%;}
.announcement-block .modal-body{background:none; border:0; box-shadow:none; width:100%;}

.announcement-content{width:100%; float:left; color:#dfdfdf; margin-top:20px; letter-spacing:1px;}
.announcement-content button.close{opacity:1;}
.announcement-content h2{ font-size:25px; margin:0 0 20px 0; font-weight:bold; width:100%; float:left;}
.announcement-content h3{ font-size:20px; margin:0 0 20px 0; width:100%; float:left;}
.announcement-content h4{ font-size:15px; margin:0 0 10px 0; width:100%; float:left;}
.announcement-content p{ font-size:14px;line-height:22px; letter-spacing:1px; margin-bottom:25px; width:100%; float:left;}
.announcement-content ul{margin-left:0; padding-left:0px; width:100%; float:left; margin-bottom:20px;}
.announcement-content ul li{ font-size:14px; list-style:none; background:url(assets/images/dot.png) no-repeat 0 8px; padding-left:15px; width:100%; float:left;}

.scrolldiv-content{width:95%}
.slimScrollRail{background:#1e1f20 !important; border:2px solid #e9edee !important; display:block !important; opacity:1 !important;}
.slimScrollBar{background:#e9edee !important; opacity:1 !important;}

.sign-up-wrapper{width:100%; float:left; border:2px solid #2771fc; box-shadow:0 0 4px #2771fc; padding:30px 20px; position:relative; margin:20px 0 50px;}
.sign-up-wrapper .sign-up-vertical-box{background:#fff; position:absolute; width:80%; border:2px solid #2771fc; box-shadow:0 0 4px #2771fc; top:-90px; left:7%; height:460px; text-align:center;  }
.sign-up-wrapper .sign-up-vertical-box .blueLogo{width:100%; float:left; text-align:center; margin-top:150px; margin-bottom:155px;}
.sign-up-wrapper .sign-up-vertical-box a{color:#100; font-size:18px; bottom:10px;}

.sign-up-block{width:100%; float:left; margin:100px 0 50px 0; text-align:center;}
.sign-up-block h2{width:100%; float:left; text-align:center; font-size:25px; color:#555; margin:0 0 20px 0;}
.sign-up-block .fieldbox{width:100%; float:left; margin-bottom:30px;}
.sign-up-block .fieldbox label{font-size:18px; color:#555; width:100%; float:left; letter-spacing:2px; margin-bottom:5px; text-align:left;font-family: 'Helvetica-Light';}
.sign-up-block .fieldbox input[type="text"]{width:100%; border:0; border-bottom:3px solid #2771fc; height:30px; line-height:30px; color:#2771fc; float:left; margin-bottom:5px; font-size:18px; outline: none !important;}
.sign-up-block .fieldbox input[type="email"]{width:100%; border:0; border-bottom:3px solid #2771fc; height:30px; line-height:30px; color:#2771fc; float:left; margin-bottom:5px; font-size:18px; outline: none !important;}
.sign-up-block .enter-btn{padding:7px 60px; color:#fff; font-size:20px; background:#2771fc; text-transform:uppercase; border:0; text-align:center;}
.sign-up-block .enter-btn:hover{background:#0f3ea8;}



.custom-pagination{width:100%; text-align:center; margin-top:15px;}
.custom-pagination ul{width:100%; padding:0;}
.custom-pagination ul li{display:inline-block; list-style:none; font-size:22px; padding-right:5px;}
.custom-pagination ul li a{color:#9b9b9b; line-height:15px;}
.custom-pagination ul li a.active{color:#2771fc;}

.checkbox-block {display: block; position: relative; padding-left: 35px;margin-bottom: 35px; color:#555; cursor: pointer; font-size: 14px; font-weight:normal; text-align:left; -webkit-user-select: none; -moz-user-select: none;-ms-user-select: none; user-select: none; min-height:25px; line-height:25px; letter-spacing:1px;}
/* Hide the browser's default checkbox */
.checkbox-block input {position: absolute; opacity: 0; cursor: pointer;}
/* Create a custom checkbox */
.checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee;}
/* On mouse-over, add a grey background color */
.checkbox-block:hover input ~ .checkmark {background-color: #ccc;}
/* When the checkbox is checked, add a blue background */
.checkbox-block input:checked ~ .checkmark {background-color: #2196F3;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: ""; position: absolute; display: none;}
/* Show the checkmark when checked */
.checkbox-block input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.checkbox-block .checkmark:after {left: 9px; top: 5px; width: 6px; height: 12px; border: solid white; border-width: 0 2px 2px 0;-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}

#footer {
  position: relative;
  background-color: #000;
  border-top: 5px solid rgba(0,0,0,0.2);
  width:100%; 
  padding:60px 0;
  text-align:center;
  color:#fff;
  margin-top:15px;
}

#footer .footer-widgets-wrap {
  position: relative;
  padding: 80px 0;
}


.clear{clear:both;}



.container{width:100%; /*max-width:1240px;*/ padding:0 15px; margin:0 auto; }
.header .navbar-default .navbar-nav > li.active > a{background:none; color:#2771fc;}
.header .navbar-default .navbar-nav > li > a{font-family: "Raleway",sans-serif; letter-spacing:1px; font-size:13px; font-weight:bold; text-transform: uppercase;}
.header .navbar-default .navbar-nav > li > a:hover{color:#2771fc; font-family: "Raleway",sans-serif; letter-spacing:1px; font-size:13px; font-weight:bold; text-transform: uppercase;}
.sign-up-block input{border-bottom:3px solid #2771fc; color:#2771fc;}
.timeBlock .clock p{display:inline-block;color:#fff; font-size:70px; text-align:center; margin-bottom:0;}
.header .navbar-default .navbar-nav > li > a.prizesBtn{border:2px solid #2771fc; padding:7px 30px; color:#fff; font-size:12px; font-weight:200;}
.user-block{width:100%; float:left; margin:50px 0 50px 0; text-align:center;}
.user-block .userbox{width:100%; float:left; margin-bottom:30px;}
.user-block h3{width:100%; float:right; /*text-align:center;*/ font-size:45px; color:#ccc; font-weight: 500; margin:0 0 0px 0;}
.btn { border-radius: 0px; margin-right: 10px;}





